[xbl.io]
base_uri = https://xbl.io/api/v2/
apikey = APIKEY
retries = 1

[xbox]
; Use * for all clips or specify the games one per each line
gameClipId[] = *
;gameClipId[] = Destiny
;gameClipId[] = Destiny 2 - Beta
;gameClipId[] = Destiny 2

;use full path
destination = DIRECTORY
;see https://secure.php.net/sprintf for format options, s the placeholder for an incremental counter,
; or use original for the xlive original filename
file_format = %04s
;file_format = original